<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand" href="#"><img src="https://pbs.twimg.com/profile_images/529695475696283650/_avM0SHg.png" alt=""></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Internet Books Database</a></li>
      </ul>
    </div>
    </nav>
    <div class="tab">
      <a href="./">Home</a>
      <a href="./">About</a>
      <a href="./">Free Books</a>
      <a href="/admin">Admin</a>
      <a href="/register">Register Akun</a>
    </div>
    <div class="img-banner">
      <img src="/images/banner1.jpg" alt="">
    </div>

    <div class="wrapper">
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail" src="https://c.o0bg.com/rf/image_1920w/Boston/2011-2020/2017/02/22/BostonGlobe.com/Business/Images/ryan_books6_biz.jpg" alt="">
        </div>
        <div class="col-md-8">
          <div class="top-left">
            <h1>Apa itu IBDB</h1>
              <p>
                Situs web yang menyediakan informasi mengenai buku dari seluruh dunia,
                termasuk orang-orang yang terlibat di dalamnya mulai dari penulis, penerbit dan penerjemah.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vestibulum accumsan dolor.
                Mauris nisi dolor, vehicula non ex in, accumsan imperdiet metus. Sed finibus ut libero venenatis dictum.
                Pellentesque vel hendrerit nunc, sed volutpat orci. Aenean id lacus et nulla volutpat sodales a et lacus.
              </p>
          </div>
        </div>
      </div>

      <div class="center">
        <div class="col-md-6 col-md-offset-3">
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nunc vestibulum accumsan dolor. Mauris nisi dolor, vehicula non ex in, accumsan imperdiet metus.</h2>
        </div>
      </div>

    </div>

    <div class="center-midle">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href=""><img class="img-thumbnail" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/7303/9780730324218.jpg" alt=""></a>
          </div>

          <div class="col-md-3">
            <a href=""><img class="img-thumbnail" src="https://d39ttiideeq0ys.cloudfront.net/assets/images/book/mid/9781/4059/9781405930994.jpg" alt=""></a>
          </div>

          <div class="col-md-3">
            <a href=""><img class="img-thumbnail" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4736/9781473619517.jpg" alt=""></a>
          </div>

          <div class="col-md-3">
            <a href=""><img class="img-thumbnail" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4736/9781473619517.jpg" alt=""></a>
          </div>
        </div>
      </div>

      <div class="center-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <a href=""><img class="img-thumbnail" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/7303/9780730324218.jpg" alt=""></a>
            </div>

            <div class="col-md-2">
              <a href=""><img class="img-thumbnail" src="https://d39ttiideeq0ys.cloudfront.net/assets/images/book/mid/9781/4059/9781405930994.jpg" alt=""></a>
            </div>

            <div class="col-md-2">
              <a href=""><img class="img-thumbnail" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4736/9781473619517.jpg" alt=""></a>
            </div>

            <div class="col-md-2">
              <a href=""><img class="img-thumbnail" src="https://d20eq91zdmkqd.cloudfront.net/assets/images/book/mid/9781/4472/9781447299851.jpg" alt=""></a>
            </div>

            <div class="col-md-2">
              <a href=""><img class="img-thumbnail" src="https://d3by36x8sj6cra.cloudfront.net/assets/images/book/mid/9780/0082/9780008201326.jpg" alt=""></a>
            </div>

            <div class="col-md-2">
              <a href=""><img class="img-thumbnail" src="https://d20eq91zdmkqd.cloudfront.net/assets/images/book/mid/9780/0081/9780008196769.jpg" alt=""></a>
            </div>
          </div>
        </div>



    </div>

  </body>
</html>
