<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
    <div class="tab">
      <a href="./">Home</a>
      <a href="./">About</a>
      <a href="./">Free Books</a>
      <a href="/admin">Admin</a>
      <a href="/register">Register Akun</a>
    </div>
    <div class="img-banner">
      <img src="/images/banner1.jpg" alt="">
    </div>

    <div class="">
          
    </div>
  </body>
</html>
